<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetDevShop - O petshop do dev</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>
  <body>
    {{ >partials/header }}

    <div class="container list"></div>

    <div class="container no-list">
      <h2>Página não encontrada.</h2>
    </div>

    {{ >partials/footer }}
  </body>
</html>
